{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{% static 'blog/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-light bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color: #fff;">Navbar</a>
          
          <form class="d-flex input-group w-auto">
            <input
              type="search"
              class="form-control rounded"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="search-addon"
            />
            <span class="input-group-text text-white border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </form>
        </div>
      </nav>
    
    <div class="content">
        <div class="container">
            <div class="row">
                {% for blog in blogs %}
                    <div class="col-lg-6">
                        <div class="blog_body">
                            <h2 class="blog_header">{{ blog }}</h2>
                            <p class="blog_description"></p>
                            <button type="button" class="btn btn-info">Info</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
</body>
</html>